<img class="logo" src="../../assets/logo.png" alt="logo"/>
<div class="social-icons">
  <a target="_blank" rel="noopener noreferrer" href="https://github.com/thevladeffect" class="icon">
    <fa-icon [icon]="['fab', 'github']"></fa-icon>
  </a>
  <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/vladvidac/" class="icon">
    <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
  </a>
  <a href="mailto:vlad.vidac@gmail.com" class="icon">
    <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
  </a>
</div>
