<header [class.visible]="header.isVisible"
        [class.hidden]="!header.isVisible">
  <div class="header">
    <a routerLink="/" class="href">
      <img class="logo" src="../assets/logo.png" alt="logo"/>
    </a>
    <div class="header__links">
      <div matRipple
           class="header__links__link"
           routerLink="/"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active">
        Home
      </div>
      <div matRipple
           class="header__links__link articles"
           routerLink="/articles"
           [routerLinkActiveOptions]="{exact: true}"
           routerLinkActive="active"
           *ngIf="false">
        Articles
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<footer></footer>
