@use '@angular/material' as mat;

@import "../scss/abstracts/variables";
@import "../scss/mixins/user-select";
@import "../scss/mixins/deep-text";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include user-select-none();
}

header {
  transition: all .2s ease-in;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.hidden {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  box-sizing: border-box;

  &__links {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;

    &__link {
      background: $light;
      color: $dark;
      padding: .5rem 1rem;
      border-radius: 20px;
      @include mat.elevation(2);
      cursor: pointer;
      font-weight: bold;

      &.active {
        background: $dark;
        color: $light;
      }

      &:not(:last-child) {
        margin-right: .5rem;
      }

      &:hover {
        @include mat.elevation(5);
      }

      &:active {
        @include mat.elevation(2);
      }
    }
  }
}

.logo {
  width: 50px;
  margin: 15px;

  margin-left: calc(50% - 25px);
  @media(min-width: $mobile-min-width) {
    margin-left: 15px;
  }
}


footer {
  flex-shrink: 0;
}
